container_commands:
  01_setup_env:
    command: "php -r \"print_r(get_defined_constants(true)['user']);\" > /var/log/laravel_env_check.log 2>&1"
  02_permissions:
    command: "chmod -R 775 storage bootstrap/cache && chown -R webapp:webapp storage bootstrap/cache"
    ignoreErrors: true
  03_config_clear:
    command: "php artisan config:clear"
  04_migrate:
    command: "php artisan migrate --force"
    leader_only: true
