container_commands:
  01_permissions:
    command: "chmod -R 775 storage bootstrap/cache"
    ignoreErrors: true
  02_config_clear:
    command: "php artisan config:clear"
  03_db_test:
    command: "php artisan tinker --execute='try { DB::connection()->getPdo(); echo \"CONNECTED\"; } catch (\\Exception $e) { echo \"CONNECTION ERROR: \" . $e->getMessage(); exit(1); }'"
  04_migrate:
    command: "php artisan migrate --force"
    leader_only: true
